body {
    margin: 0;
    font-family: sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
h1 {
    margin: 0;
}
header {
    height: 100px;
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.banner {
    height: 80vh;
    background: url(img/bg.jpg) no-repeat center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    position: relative;
}
.banner h1 {
    position: relative;
    z-index: 2;
}
.banner::before {
    content: "";
    background-color: #0006;
    width: 100%;
    height: 100%;
    position: absolute;
}
.info {
    background-color: darkolivegreen;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.info__card {
    border: 1px solid;
    color: #fff;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
}
.info__card i {
    font-size: 4rem;
}
.container {
    padding-left: calc(50% - 500px);
    padding-right: calc(50% - 500px);
}
.logo i {
    font-size: 2rem;
}
@media (min-width: 600px) and (max-width: 1199px) {
   .container {
    padding: 50px;
   } 
   header {
    height: auto;
   }
   .info {
    grid-template-columns: repeat(2, 1fr);
   }
}
@media (min-width: 320px) and (max-width: 599px) {
    .container {
     padding: 15px;
    } 
    header {
     height: auto;
     flex-direction: column;
    }
    .banner {
        height: 300px;
    }
    .info {
     grid-template-columns: 1fr;
     gap: 10px;
    }
    h1 {
        font-size: 40px;
    }
 }